.orders-container table {
  border-collapse: separate;
  border-spacing: 10px;
  width: 1065px;
}
.orders-container table tr {
  margin-top: 0px;
  border-bottom: 1px solid #ddd;
}
.orders-container {
  overflow-x: auto;
}
