.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link {
    color: #333;
    font-size: 18px;
}
.login-btn {
    box-shadow: 0 0 5px #d9d0d0;
    padding: 0 35px !important;
    display: inline-block;
    text-align: center;
    line-height: 42px;
    border-radius: 5px;
    font-weight: 500;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-light .navbar-toggler {
    border-color: transparent !important;
}
